.header {
   // padding: 2em 0 0;
   margin-bottom: 50px;
}
.w3l_login {
    float: left;
}
.w3l_logo {
    float: left;
    margin-left: 1em;
}

.box_1 {
    float: right;
    margin-top: 18px;
	margin-right: 30px;
}
.w3l_login a {
    font-size: .8em;
    color: #BEBEBE;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border: 1px solid #ff9b05;
}
.w3l_login a span {
    top: 1.3em;
}
.w3l_logo h1 a {
    font-size: 1.1em;
    color: #212121;
    text-decoration: none;
}
.w3l_logo h1 a span {
    display: block;
    font-size: .3em;
    text-transform: capitalize;
    letter-spacing: 13px;
    padding-left: .5em;
}


.box_1 a {
    color: #ff9b05;
    font-size: 24px;
    margin: 0;
	padding-top:5px;
	border-radius: 100%;
}
/*
.box_1 a:hover{
	color:#fff;	
}*/

.w3l_login a:hover {
	color:#fff !important;
	background:#ff9b05 !important;
	border-radius:100%;	
	border: 1px solid #fff;;
}


.total {
    display: inline-block;
    vertical-align: middle;
}
.box_1 a img {
    margin: 3px 0 0 0px;
}
.box_1 p {
    margin: 0;
    color: #999;
    font-size: 14px;
}
a.simpleCart_empty {
    color: #212121;
    font-size: 13px;
    text-decoration: none;
    text-align: right;
    display: block;
}
.navigation {
    margin: 2em 0 0;
    text-align: center;
}

.fa-user:before {
    // content: "\e008";
    font-family: FontAwesome;
    color: #ff9b05;
}
.fa-user:hover:before {
	color: #fff;
}
.welcome-msg {
    text-align: left;
    display: inline-block;
    padding: 0px;
    margin: 0px 14px;
    font-size: 13px;
    color: rgb(255, 155, 5);
    vertical-align: top;
    margin-top: 7px;
}
.header-top{
border-bottom: 1px solid #ff9b05;	
}
/*
.navigation {
    margin: 2em 0 0;
    text-align: center;
}
.navbar {
    margin-bottom: 0;
    z-index: 100;
}
.navbar-default {
    background: none;
    border: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    float: none;
}
.navbar-nav > li:nth-child(1) {
    margin-left: 12em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
}
input[type="submit"], .panel-body ul li a, .checkout-right-basket a, .additional_info_sub_grid_right a, .panel_bottom li a, .panel-title a, .breadcrumb_dress ul li a, .multi-column-dropdown li a, .footer-copy p a, .w3_footer_grid ul li a, .agileinfo_banner_bottom1_grid_left a, .navbar-default .navbar-nav > li > a, .simpleCart_shelfItem p a, .agile_ecommerce_tab_left h5 a, .w3_hs_bottom ul li a, .team-bottom a {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
ul.multi-column-dropdown h6 {
    font-size: 1.5em;
    color: #ff9b05;
    margin: 0 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
    text-transform: capitalize;
}
.multi-column-dropdown li {
    list-style-type: none;
    margin: 7px 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #999 !important;
    white-space: normal;
    font-weight: 500 !important;
    text-decoration: none;
}
.multi-column-dropdown li a span {
    margin-left: 1em;
    padding: .1em .5em;
    background: #B3D547;
    color: #fff;
}
.navigation {
    margin: 2em 0 0;
    text-align: center;
}
.navbar-nav > li > a {
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-nav > li > a {
    padding: 29px 18px 0;
}*/

/*-- navigation --*/
.nav {
    width: 1000px;
    margin: 0px; 
	padding-bottom:10px;
	
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
	font-weight:bold;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #d8703f;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #333 !important;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-collapse {
    padding: 0;
}
ul.multi-column-dropdown h6 {
    font-size: 1.5em;
/*-- w3layouts --*/
    color:#ff9b05;
    margin: 0 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
    text-transform: capitalize;
}
.multi-column-dropdown li {
    list-style-type: none;
    margin: 7px 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #999 !important;
    white-space: normal;
	font-weight:500 !important;
	text-decoration:none;
}
.multi-column-dropdown li a:hover{
	color:#000 !important;
	background-color:transparent;
}
.multi-column-dropdown li a span {
    margin-left: 1em;
    padding: .1em .5em;
    background:#B3D547;
    color: #fff;
}
.multi-column-dropdown li a i {
    font-size: 1.1em;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 3em 0 0;
    display: block;
    padding: .4em .5em;
    background: #ff9b05;
    text-align: center;
}
.dropdown-menu.columns-3 {
    min-width:900px;
    padding: 30px 30px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
    border: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
/*-- agileits --*/
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}
.navbar-nav > li > a {
    padding: 29px 18px 0;
}
.navbar-nav > li > a {
   // padding: 20px 30px;
    font-size: 13px;
    text-transform: uppercase;
    
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#ff9b05;
}
.navbar {
    margin:10px 0 0 0;
	z-index: 100;
}
.navigation {
   margin-top:-50px;
	text-align:center;
}
.navbar-nav {
    float: none;
}
.navbar-nav > li:nth-child(1) {
   // margin-left: 12em;
}
.dropdown-menu {
    // left: -130%;
}
.w3ls_products_pos h4 {
    font-size: 2em;
    text-align: right;
    margin-bottom: 1em;
}
.w3ls_products_pos h4 i{
	display: block;
    margin: .5em 0 0;
    text-align: left;
    padding-left: 5em;
    color: #B3D547;
}
/*-- //navigation --*/



.modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
}
.modal-dialog {
    width: 950px;
}
.modal-dialog {
    margin: 6em auto 0;
}
.modal-header {
    border: none;
    min-height: 2.5em;
    padding: 0em 1em 0;
}
.modal button.close {
    color: #212121;
    opacity: 1;
    font-size: 2em;
    outline: none;
    text-align: right;
    width: 100%;
    margin-top: 6px;
}
.modal-title {
    font-size: 1.5em;
    color: #212121;
    padding-left: 1.5em;
}
.modal-body-sub {
    padding: 3em !important;
}
.modal-body {
    padding: 0em 2em 2em;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    right: -16px;
    top: 40%;
    background: #FFFFFF;
}
h3.other-nw {
    font-size: 16px;
    color: #212121;
    text-align: center;
    margin: 3em 0 2em;
    font-weight: 600;
}

.resp-tab-active {
    border: 1px solid #ff9b05;
    text-shadow: none;
    color: #fff;
    background: #ff9b05;
}
.resp-tab-item {
    border: none;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 30px;
    margin: 5px;
    display: inline-block;
    list-style: none;
    outline: none;
    border: 1px solid #212121;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-appearance: none;
}
div#horizontalTab ul {
    padding-bottom: 1.5em;
}

.register input[type="text"], .register input[type="email"], .register input[type="password"] {
    outline: none;
    border: 1px solid #DFDFDF;
    background: #f5f5f5;
    padding: 10px;
    color: #212121;
    width: 100%;
    font-size: 14px;
	margin-bottom: 15px;
}
.register input[type="submit"] {
    outline: none;
    border: none;
    background: #212121;
    padding: 10px 0;
    color: #fff;
    width: 40%;
    font-size: 1em;
    text-transform: uppercase;
    margin: 2em 0 0;
}
input[type="submit"], .panel-body ul li a, .checkout-right-basket a, .additional_info_sub_grid_right a, .panel_bottom li a, .panel-title a, .breadcrumb_dress ul li a, .multi-column-dropdown li a, .footer-copy p a, .w3_footer_grid ul li a, .agileinfo_banner_bottom1_grid_left a, .navbar-default .navbar-nav > li > a, .simpleCart_shelfItem p a, .agile_ecommerce_tab_left h5 a, .w3_hs_bottom ul li a, .team-bottom a {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color:#ff9b05;
	color:#fff;
	border: 1px solid #ff9b05;
}
.nav-tabs > li > a:hover {
    border: none;
}

.modal-body iframe {
    width: 100%;
    min-height:400px;
    border: none;
}
.modal-dialog {
    width: 950px;
}
.modal_body_right h4{
	font-size:1.6em;
    color:#ff9b05;
    text-transform: capitalize;
}
.modal_body_right p{
	margin:2em 0;
	line-height:1.8em;
	color:#999;
	font-size: 14px !important;
}
.modal_body_right_cart p {
    font-size: 1.2em !important;
    color: #212121;
	margin: 0em 0 1em !important;
}
.modal_body_right h5{
	font-size: 1em;
    color: #212121;
    margin: 3em 0 1em;
}
.resp-tab-active {
    border: 1px solid #ff9b05;
    text-shadow: none;
    color: #fff;
    background: #ff9b05;
}

.resp-tab-content {
    display: none;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-tab-active {
    border: 1px solid #ff9b05;
    text-shadow: none;
    color: #fff;
    background: #ff9b05;
}
.register input[type="submit"]:hover {
    background: #ff9b05;
}
.fb{
	float:left;
}
.fb:hover{
	transform:scale(1.3,1.3);
	transition:2s;	
}
.google{
	float:left;margin:-30px 0 0 -10px;
}
.google:hover{
transform:scale(1.3,1.3);
	transition:2s;
}
.twitter{
	float:left;margin: 0 -10px 0 -10px;
}
.twitter:hover{
transform:scale(1.3,1.3);
	transition:2s;	
}
.print{
float:left;margin: -25px 0px 0 5px;	
}
.print:hover{
	transform:scale(1.3,1.3);
	transition:2s;	
}

.navbar-default .navbar-nav>.active>a
{
	color:#ff9b05;
}




